<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>ChestGrid</string>
		<string>Chest</string>
		<string>Gem</string>
		<string>Flag</string>
		<string>Messages</string>
	</array>
	<key>Created</key>
	<string>2014-11-19 08:11:24 +0000</string>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
